.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .background{
   background-color: #29b6f6
  }
  
  .singinbtn{
    width: 100%;
    margin: 0px !important;
  }

  .mat-card-green-people {
    margin: 5%;
    -webkit-box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.2) ;
  box-shadow: 3px 3px 6px 1px rgba(0,0,0,0.2) ;
  }